@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: var(--offWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

:root {
  --primaryColor: #555533;
  --mainWhite: #fff;
  --offWhite: #FFFFE5;
  --mainBlack: #222;
  --mainGreen: #66aa33;
  --darkGreen: #668855;
  --darkerGreen: #445533;
  --mainRed: #cc4433;
  --darkGold: #bf9456;
  --mainGrey: #999977;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.inc-exp-container {
  background-color: var(--mainWhite);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container>div {
  flex: 1;
  text-align: center;
}

.inc-exp-container>div:first-of-type {
  border-right: 1px solid var(--mainWhite);
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: var(--mainGreen);
}

.money.minus {
  color: var(--mainGreen);
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'], input[type='number'] {
  border: 1px solid var(--offWhite);
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: var(--darkGold);
  box-shadow: var(--box-shadow);
  color: var(--mainWhite);
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus, .delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: var(--mainWhite);
  box-shadow: var(--box-shadow);
  color: var(--darkerGreen);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid var(--mainGreen);
}

.list li.minus {
  border-right: 5px solid var(--mainRed);
}

.delete-btn {
  cursor: pointer;
  background-color: var(--mainRed);
  border: 0;
  color: var(--mainWhite);
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

#charts {
  position: relative;
  width: 50rem;
  height: 20rem;
}

.chart-fluid {
  width: 50rem;
  height: 40rem;
  overflow: scroll;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

@media (max-width: 768px) {
  #charts {
    width: 29rem;
    height: 10rem;
  }
  .chart-fluid {
    width: 29rem;
    height: 40rem;
    overflow: scroll;
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
  }
  .container {
    width: 300px;
  }
}